/* Basic Reset */
body {
    margin: 0;
    height: 100vh;
    background-color: black;
    overflow: hidden; 
    cursor: crosshair;
}

/* Style for each heart */
span {
    background: url("heart.png");
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none; 
    background-size: cover;
    transform: translate(-50%, -50%);
    animation: animate 6s linear forwards;
    opacity: 1;
}


@keyframes animate {
    0% {
        transform: translate(-50%, -50%) ;
        opacity: 1;
        filter: hue-rotate(0);
    }
    100% {
        transform: translate(-50%, -5000%) ;
        opacity: 0;
        filter:hue-rotate(720deg) ;
    }
}
